#
# Audiokit configuration
#
config AUDIOKIT
bool "Audio Kit"
default n
help
 choose y to open Audio Kit
if AUDIOKIT
source "drivers/devkit/audiokit/dsm_audio/Kconfig"
source "drivers/devkit/audiokit/boxid/Kconfig"
source "drivers/devkit/audiokit/smartpakit/Kconfig"
source "drivers/devkit/audiokit/ana_hs_kit/Kconfig"
endif
