config USB_DWC3_HISI
	tristate "Hisilicon Platforms"
	default USB_DWC3
	select HISI_USB_HELPER
	select HISI_USB_REG_CFG
	help
	  Support of USB2/3 functionality in hisilicon platforms,
	  Say 'Y' or 'M' here if you have one such device.

if USB_DWC3_HISI

config USB_DWC3_NOV
       tristate "Hisilicon Platforms NOV USB"
       default n
       help
         Support of USB2 functionality in hisilicon platforms,
         Say 'Y' or 'M' here if you have one such device.

config USB_DWC3_OCT
       tristate "Hisilicon Platforms OCT USB"
       default n
       help
         Support of USB2 functionality in hisilicon platforms,
         Say 'Y' or 'M' here if you have one such device.

config USB_DWC3_SEP
       tristate "Hisilicon Platforms SEP USB"
       default n
       help
         Support of USB2 functionality in hisilicon platforms,
         Say 'Y' or 'M' here if you have one such device.

config USB_DWC3_AUG
       tristate "Hisilicon Platforms AUG USB"
       default n
       help
         Support of USB2 functionality in hisilicon platforms,
         Say 'Y' or 'M' here if you have one such device.

config USB_DWC3_APR
	tristate "Hisilicon Platforms APR USB"
	select HISI_USB_XHCI_HUB_PORT_DIS
	default n
	select HISI_USB_REG_CFG
	help
	  Support of USB2/3/3.1 functionality in hisilicon platforms,
	  Say 'Y' or 'M' here if you have one such device.

config USB_DWC3_MAR
	tristate "Hisilicon Platforms MAR USB"
	select HISI_USB_XHCI_HUB_PORT_DIS
	default n
	select HISI_USB_REG_CFG
	help
	  Support of USB2/3/3.1 functionality in hisilicon platforms,
	  Say 'Y' or 'M' here if you have one such device.

config CONTEXTHUB_PD
	bool "Sensor CONTEXTHUB PD driver"
	default n
	help
	  Say yes here if you want to use contexthub pd function

if CONTEXTHUB_PD
config HISI_COMBOPHY
	tristate "Hisilicon Platforms MAR USB"
	default n
	help
	  Support of USB2/3/3.1 functionality in hisilicon platforms,
	  Say 'Y' or 'M' here if you have one such device.
endif # CONTEXTHUB_PD

config HISI_USB_NEW_FRAME
       tristate "USB new hardware config frame for Hisilicon Platforms"
       default n
       help
         Support for new usb phy and controller config frame for Hisilicon USB
         Say 'Y' or 'M' here if you have one such device.

endif # USB_DWC3_HISI
