config HISI_MSPC
	depends on HISI_MAILBOX
	bool "Hisilicon MSP core "
	default n
	help
	  Hisi MSP core driver

config HISI_MSPC_MNTN_RESET_IRQ_SEPARATE
        depends on HISI_MSPC
        bool "Hisilicon mspc reset use separate interrupts."
        default n
        help
          whether mspc reset support separate interrupts feature

config MSPC_SUPPORT_DCS
        depends on HISI_MSPC
	bool "Support for Dynamic Binaries upgrade"
        default n
        help
	  whether to support dynamic binaries upgrade in Hisee
