menu "Battery certification support"

menuconfig HUAWEI_BATTERY_INFORMATION
	bool
	prompt "Certificate battery by information of IC."
	default n

source "drivers/huawei_platform/power/battery/battery_ct/maxim/Kconfig"
source "drivers/huawei_platform/power/battery/battery_ct/nxp/Kconfig"
source "drivers/huawei_platform/power/battery/battery_ct/onewire/Kconfig"
source "drivers/huawei_platform/power/battery/battery_ct/richtek/Kconfig"
source "drivers/huawei_platform/power/battery/battery_ct/infineon/Kconfig"

endmenu
