config SND_SOC_CODEC_HI6555V3
	tristate "HI Soc Smartstar Codec 6555v3 support"

config SND_SOC_CODEC_HI6555V5
	tristate "HI Soc Smartstar Codec 6555v5 support"

config SND_SOC_HI6555_CODEC
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_I2S
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_UTILITY
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_STORE
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_CORE_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_AUDIO_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_ULTR_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_VOICE_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_SMPA_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_THIRD_CODEC_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_BTFM_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V3=y || SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V3=m || SND_SOC_CODEC_HI6555V5=m

config SND_SOC_HI6555_MAD_PATH
	tristate
	default y if SND_SOC_CODEC_HI6555V5=y
	default m if SND_SOC_CODEC_HI6555V5=m
