#
# wireless charge ic driver
#

config WIRELESS_STWLC68
	bool "wireless stwlc68"
	depends on WIRELESS_CHARGER
	default n
	help
	  Say Y here to enable stwlc68 driver.
	  The stwlc68 is an soc for magnetic induction
	  based wireless power receiver. it is fully compliant
	  with latest WPC Qi specification of BPP and EPP
	  and also supports various proprietary fast charging
	  protocols used by major smart phone OEM.

config WIRELESS_IDTP9415
	bool "wireless idt9415"
	depends on WIRELESS_CHARGER
	default n
	help
	  Say Y here to enable idtp9415 driver.
	  The idtp9415 is an soc for magnetic induction
	  based wireless power receiver. it is fully compliant
	  with latest WPC Qi specification of BPP and EPP
	  and also supports various proprietary fast charging
	  protocols used by major smart phone OEM.

config WIRELESS_CPS7181
	bool "wireless cps7181"
	depends on WIRELESS_CHARGER
	default n
	help
	  Say Y here to enable cps7181 driver.
	  The cps7181 is an soc for magnetic induction
	  based wireless power receiver. it is fully compliant
	  with latest WPC Qi specification of BPP and EPP
	  and also supports various proprietary fast charging
	  protocols used by major smart phone OEM.

config WIRELESS_CPS4057
	bool "wireless cps4057"
	depends on WIRELESS_CHARGER
	default n
	help
	  Say Y here to enable cps4057 driver.
	  The cps4057 is an soc for magnetic induction
	  based wireless power receiver. it is fully compliant
	  with latest WPC Qi specification of BPP and EPP
	  and also supports various proprietary fast charging
	  protocols used by major smart phone OEM.

config WIRELESS_NU1619
	bool "wireless nu1619"
	depends on WIRELESS_CHARGER
	default n
	help
	  Say Y here to enable nu1619 driver.
	  The nu1619 is an soc for magnetic induction
	  based wireless power receiver. it is fully compliant
	  with latest WPC Qi specification of BPP and EPP
	  and also supports various proprietary fast charging
	  protocols used by major smart phone OEM.

config WIRELESS_STWLC88
	bool "wireless stwlc88"
	depends on WIRELESS_CHARGER
	default n
	help
	  Say Y here to enable stwlc88 driver.
	  The stwlc68 is an soc for magnetic induction
	  based wireless power receiver. it is fully compliant
	  with latest WPC Qi specification of BPP and EPP
	  and also supports various proprietary fast charging
	  protocols used by major smart phone OEM.
