#
# wireless charger driver
#


config WIRELESS_IDTP9221
	bool "wireless idt9221"
	default n
	help
	  Say Y here to enable idt9221 driver.
	  The idt9221 is an soc for magnetic induction
	  based wireless power receiver. it is fully compliant
	  with latest WPC Qi specification of BPP and EPP
	  and also supports various proprietary fast charging
	  protocols used by major smart phone OEM.

config WIRELESS_ACCESSORY
	bool "wireless accessory"
	default n
	help
	  Say Y here to enable wireless accessory driver.
	  The wireless accessory support wireless charging for huawei wireless pen
