config NPU_DEVDRV_DEVDRIVER
	tristate "NPU DEVDRV DEVDRIVER"
	default y
config HISI_NPU_DPM_ENABLED
	bool "only open on hisi_kirin990_defconfig, HISI_NPU_DPM_ENABLED depends on HISI_DPM_HWMON"
	depends on HISI_DPM_HWMON
	default n
	help
	  Driver for npu dpm