source "drivers/huawei_platform/power/charger/Kconfig"
source "drivers/huawei_platform/power/hardware_ic/Kconfig"
source "drivers/huawei_platform/power/hardware_channel/Kconfig"
source "drivers/huawei_platform/power/wireless/Kconfig"
source "drivers/huawei_platform/power/battery/Kconfig"
source "drivers/huawei_platform/power/hw_kstate/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/Kconfig"
source "drivers/huawei_platform/power/pid_socket/Kconfig"
source "drivers/huawei_platform/power/wifi_filter/Kconfig"
source "drivers/huawei_platform/power/common_module/Kconfig"
source "drivers/huawei_platform/power/ext_thermal/Kconfig"
