source "drivers/huawei_platform/power/hardware_monitor/smpl/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/cpu_buck/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/temp_control/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/acr_detect/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/uscp/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/water_check/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/soc_control/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/soc_decimal/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/bat_heating/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/vbus_check/Kconfig"
source "drivers/huawei_platform/power/hardware_monitor/btb_check/Kconfig"
