#
# huawei adc monitor for direct charge drivers
#

config CHARGE_ADC_MONITOR
	bool "adc_monitor"
	depends on DIRECT_CHARGER
	default n
	help
	  Say Y here to enable adc monitor driver.
	  This driver provides a unified interface for adc monitor.
	  Support device:
	  ina231
	  opa2333p

config INA231_FOR_CHARGE
	bool "ina231_for_direct_charge"
	depends on CHARGE_ADC_MONITOR
	default n
	help
	  Say Y here to enable ina231 driver.
	  Ina231 is a current-shunt and power monitor.
	  This driver monitors vbus and ibus for direct_charge.
	  This driver works with i2c interface that features 16 programmable addresses.

config OPA2333P_FOR_CHARGE
	bool "opa2333p_for_direct_charge"
	depends on CHARGE_ADC_MONITOR
	default n
	help
	  Say Y here to enable opa2333p driver.
	  The opa2333p is a cmos operational amplifier.
	  The opa2333p is optimized for low-voltage.
	  This driver works for direct_charge.
