config HISI_FB_MEDIACOMMON
	tristate
	depends on FB
	default n
	---help---
	Enable mediacommon hardware support for hisilicon chipset

	This will allow for allocating new framebuffer to provide more
	interfaces such as ispif, precompose copybit etc.

config HISI_FB_ALSC
	tristate
	depends on FB
	default n
	---help---
	Enable ALSC hardware support for hisilicon chipset

config HISI_FB_FAKE
	tristate "HISI Framebuffer Fake support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports HISI FB Fake.

config HISI_FB_970
	tristate "HISI FB 970 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports HISI970 FB.

config HISI_FB_V501
	tristate "HISI FB V501 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select HISI_FB_MEDIACOMMON
	select REGMAP
	help
	  This framebuffer driver supports HISI V501 FB.

config HISI_FB_V510
	tristate "HISI FB V510 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select HISI_FB_MEDIACOMMON
	select HISI_DPP_CMDLIST
	select REGMAP
	help
	  This framebuffer driver supports HISI V510 FB.

config HISI_FB_V600
	tristate "HISI FB V600 Framebuffer support"
	depends on FB
	depends on DMA_CMA
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select HISI_FB_MEDIACOMMON
	select HISI_FB_ALSC
	select REGMAP
	help
	  This framebuffer driver supports HISI V600 FB.

config HISI_FB_V320
	tristate "HISI FB V320 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports HISI V320 FB.

config HISI_FB_AOD
	tristate "HISI aod support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports hisi aod.

config HISI_FB_V330
	tristate "HISI FB V330 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports HISI V330 FB.

config HISI_FB_V350
	tristate "HISI FB V350 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports HISI V350 FB.

config HISI_FB_V345
	tristate "HISI FB V345 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports HISI V345 FB.

config HISI_FB_V346
	tristate "HISI FB V346 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports HISI V346 FB.

config DSS_SMMU_V3
	tristate "HISI FB smmu v3 support"
	depends on ARM_SMMU_V3
	help
	  This framebuffer driver supports smmu v3.

config HISI_FB_ENG_DBG
	tristate "HISI FB ENG DEBUG support"
	depends on FB
	help
	  This config only used in eng version.

config FASTBOOT_DISP_ENABLE
	tristate "HISI fastboot display enable support"
	depends on FB
	help
	  Display system have already initialized in fastboot.

config HISI_DISPLAY_DFR
	tristate "HISI FB dynamic frame adaptation support"
	depends on FB
	help
	  This framebuffer driver supports dynamic frame adaptation.

config HISI_DSS_DPM
	tristate "HISI DSS DPM(digital power monitor) support"
	depends on FB
	depends on HISI_DPM_HWMON
	help
	  This framebuffer driver supports dpm function.

config HISI_DPP_CMDLIST
	tristate "HISI DSS DPP cmdlist support"
	depends on FB
	help
	  This framebuffer driver supports dpp cmdlist function.

config HW_DSS_BOOST
	tristate "huawei dss boost support"
	depends on HISI_FB_V501 || HISI_FB_V510 || HISI_FB_V350 || HISI_FB_V345 || HISI_FB_V346 || HISI_FB_V600
	default y
	help
	  support boosting for the huawei dss.

config CDC_MULTI_DISPLAY
	tristate "CDC support multi-screen"
	depends on HISI_FB_V510
	default n
	help
	  This framebuffer driver supports CDC multi-screen.

config DP_CDC
	tristate "CDC support DP"
	depends on HISI_FB_V510
	default n
	help
	  This framebuffer driver supports CDC DP.

source "drivers/video/fbdev/hisi/mdfx/Kconfig"
