menu "VCODEC DRIVER Configuration"

config VCODEC_PLATFORM_HIVCODECV210
        tristate "v210 Vcodec configs"
        default n

config VCODEC_PLATFORM_KIRIN970
        tristate "970 Vcodec configs"
        default n

config VCODEC_PLATFORM_HIVCODECV300
        tristate "v300 Vcodec configs"
        default n

config VCODEC_PLATFORM_HIVCODECV310
       tristate "v310 Vcodec configs"
       default n

config VCODEC_PLATFORM_HIVCODECV500
        tristate "v500 Vcodec configs"
        default n

config VCODEC_PLATFORM_HIVCODECV600
        tristate "v600 Vcodec configs"
        default n

config VCODEC_DPM_ENABLE
        bool "dpm hwmon second version config"
        depends on HISI_DPM_HWMON
        default n
        help
            Second version for kernel dpm

source "drivers/vcodec/hi_vcodec/vdec_hivna/Kconfig"
source "drivers/vcodec/hi_vcodec/venc_hivna/drv/venc/Kconfig"

endmenu
