config HISI_ISP_DEBUG
	bool "hisi isp debug"
	default n
	help
		Say yes here to support hisi isp debug.

config HISI_ISP_SMMU_BYPASS_DEBUG
	bool "hisi isp smmu bypass debug"
	default n
	help
		Say yes here to support hisi isp smmu bypass debug.

config HISI_ISP_DPM
	tristate "HISI ISP DPM(digital power monitor) support"
	depends on HISI_DPM_HWMON
	default n
	help
		This framebuffer driver supports dpm function.