menu "Hisilicon IVP"

config HISI_IVP
     bool "hisilicon ivp support"
     default n
     help
          ivp driver for ivpv300.

config IVP_SMMU
	bool "Hisilicon IVP SMMU Support"
	depends on IOMMU_API
	depends on HISI_IODOMAIN_API
	help
	  Hisilicon IVP IOMMU Support.

config IVP_SMMU_V3
	bool "Hisilicon IVP SMMU_V3 Support"
	depends on IOMMU_API
	depends on HISI_IODOMAIN_API
	help
	  Hisilicon IVP IOMMU Support.
config IVP_SMMU_TEST
	bool "Hisilicon IVP SMMU TEST Support"
	depends on IVP_SMMU
	help
	  Hisilicon IVP IOMMU TEST Support.

config IVP_IVPV160
	bool "ivpv160"
	depends on HISI_IVP

config IVP_IVPV200
	bool "ivpv200"
	depends on HISI_IVP

config IVP_IVPV150
	bool "ivpv150"
	depends on HISI_IVP

config IVP_IVPV120
	bool "ivpv120"
	depends on HISI_IVP

config IVP_IVPV210
	bool "ivpv210"
	depends on HISI_IVP

config IVP_IVPV250
	bool "ivpv250"
	depends on HISI_IVP

config IVP_IVPV300
	bool "ivpv300"
	depends on HISI_IVP

config IVP_IVPV310
	bool "ivpv310"
	depends on HISI_IVP

endmenu

