config DEVFREQ_GOV_GPU_SCENE_AWARE
	tristate "Hisilicon GPU Scene Aware"
	depends on ARCH_HISI && PM_DEVFREQ
	select PM_OPP
	select HISI_DEVFREQ

config GPU_RT_DEVFREQ
	bool "force update devfreq when gpu in runtime"
	default n
	depends on DEVFREQ_GOV_GPU_SCENE_AWARE

config GPUFREQ_GOV_POLICY_USING_DTSI
	bool "Hisilicon gpu governor policy using dtsi"
	default n
	depends on DEVFREQ_GOV_GPU_SCENE_AWARE
