menu "Hisi Modem"
config HISI_BALONG_MODEM
	tristate "Hisilicon ap+modem config"
	default n
	help
	Hisilicon ap+modem config support.

config HISI_BALONG_EXTRA_MODEM
	bool "Hisilicon ap+ extra_modem config"
	default n
	help
	Hisilicon A+B PHONE config support

config HISI_BALONG_EXTRA_MODEM_MBB
	bool "Hisilicon MBB extra_modem config"
	default n
	help
	Hisilicon A+B MBB config support
	
config HISI_BALONG_MODEM_HI3650
	bool "Hisilicon ap+modem config"
	default n
	help
	Hisilicon ap+modem config support.

config BALONG_OAM_PS
        tristate "support tlmsp tlps gumsp gups taf"
        default n
        help
         tlmsp tlps gumsp gups taf acore image

config VOWIFI_NEW_FRW
	bool "vowifi android n&o frw diff"
	default n
	help
	vowifi android n&o frw diff

config MODEM_PS_FUSION_VERSION
        tristate "modem ps fusion version"
        default n
        help
        modem ps fusion

source "drivers/hisi/modem/oam/Kconfig"

source "drivers/hisi/modem/drv/Kconfig"
endmenu
