config CONTEXTHUB_DEVICE_DEMO
        bool "CONTEXTHUB_DEVICE_DEMO"
        depends on INPUTHUB_AS
        default n
        help
        support CONTEXTHUB_DEVICE_DEMO.

config CONTEXTHUB_DEVICE_GYRO
        bool "CONTEXTHUB_DEVICE_GYRO"
        depends on CONTEXTHUB_DEVICE_DEMO
        default n
        help
        Say yes here if you want to enable gyro
