menu "Hifimisc driver serve HIFI dsp"

config HIFI_DSP_ONE_TRACK
     bool "hifi low power play device support"
     help
          hifi lpp device provide service for HIFI and AP, in case of HIFI ultra-low power audio play.
config HIFI_MEMORY_21M
    bool "hifi memory is 21M"
    help
         hifi memory is 21M
config HIFI_MEMORY_15M
    bool "hifi memory is 15M"
    help
         hifi memory is 15M
config ORLANDO_2MIC_LP_WAKEUP
    bool "orlando 2mic lp wakeup"
    help
         orlando 2mic lp wakeup
config HISI_AUDIO_DEBUG
    bool "support audio debug function"
    help
        support audio debug function
config HIFI_EXTRA_MODEM_MODE
    bool "support a+b function"
    help
        support a+b function
config HIFI_RESET_CDEV
    bool "support hifi reset cdev"
    help
        support hifi reset cdev
source drivers/hisi/hifi_dsp/voice_proxy/Kconfig
endmenu

